@model Queima.Web.App.Models.Bilhete

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Bilhete</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BilheteiraId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BilheteiraId" class ="form-control" asp-items="ViewBag.BilheteiraId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Data" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinkId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LinkId" class ="form-control" asp-items="ViewBag.LinkId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecoDiaAnterior" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrecoDiaAnterior" class="form-control" />
                <span asp-validation-for="PrecoDiaAnterior" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecoNoDia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrecoNoDia" class="form-control" />
                <span asp-validation-for="PrecoNoDia" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecoNoDiaForaHoras" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrecoNoDiaForaHoras" class="form-control" />
                <span asp-validation-for="PrecoNoDiaForaHoras" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecoNormal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrecoNormal" class="form-control" />
                <span asp-validation-for="PrecoNormal" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
