@model Queima.Web.App.ViewModels.TransporteViewModel

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Transporte</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ImagemPath" />
        <input type="hidden" asp-for="ImagemUrl" />
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Nome" asp-items="Html.GetEnumSelectList<Queima.Web.App.Models.TipoTransporte>()"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger" />
            </div>
        </div>
        <img src="@Url.Content(Model.ImagemPath)" alt="Não tem nenhuma imagem associada" asp-append-version="true" />
        <div class="form-group">
            <label asp-for="Imagem" class="control-label col-md-2"></label>
            <div>
                <input asp-for="Imagem" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
