@model Queima.Web.App.ViewModels.MediaViewModel

@{
    ViewData["Title"] = "Criar Media";
}

<h2>Criar Albúm ou Vídeo </h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>MediaEdicao</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ano" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Ano" asp-items="@Model.Edicao"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TipoMedia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TipoMedia" asp-items="Html.GetEnumSelectList<Queima.Web.App.Models.TipoMedia>()"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
