@model Queima.Web.App.ViewModels.ArtistaViewModel
<meta charset="utf-8" />
@{
    ViewData["Title"] = "Editar Artista";
}

<h2>@Model.Nome</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Artista</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ImagemPath" />
        <input type="hidden" asp-for="ImagemUrl" />
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Palco" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Palco" asp-items="Html.GetEnumSelectList<Queima.Web.App.Models.Palco>()"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataAtuacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataAtuacao" class="form-control" />
                <span asp-validation-for="DataAtuacao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Biografia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Biografia" class="form-control"></textarea>
                <span asp-validation-for="Biografia" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FacebookUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FacebookUrl" class="form-control" />
                <span asp-validation-for="FacebookUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SpotifyUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SpotifyUrl" class="form-control" />
                <span asp-validation-for="SpotifyUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TwitterUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TwitterUrl" class="form-control" />
                <span asp-validation-for="TwitterUrl" class="text-danger" />
            </div>
        </div>
        <img src="@Url.Content(Model.ImagemPath)" alt="Não tem nenhuma imagem associada" asp-append-version="true" />
        <div class="form-group">
            <label asp-for="Imagem" class="control-label col-md-2"></label>
            <div>
                <input asp-for="Imagem" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DataAtuacao").datepicker({ dateFormat: 'dd/mm/yy' });

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
